@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Permanent+Marker&family=Spicy+Rice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid; */
}



main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #0008ff, #110066f7);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

/* body {
 display: flex;
 justify-content: center;
 align-items: center;
} */


.teacher {
    position: absolute;
    margin-top: 13%;
    overflow: hidden;
    left: 65%;
    top: 3.6%;
}
