* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #0008ff, #110066f7);
    display: flex;
    align-items: center;
    justify-content: center;

}

.dashboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: normal;
   
   }

   .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
/* 
.card-img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    display: block;
} */
.btn {
    color: #000000;
    display: flex;
    background-color: aliceblue;
    border-radius: 2rem;
    margin-top: 5px;
    border: 3px solid #000000;
    transition: 0.3s ease;
    cursor: pointer;
    height: 330px;
    width: 430px;
    display: block;
    overflow-wrap: break-word;
}
.btn:hover {
    background-color: aliceblue;
    transform: scale(1.05);
    color: rgb(0, 0, 0);
}

.teacher {
    margin-top: 13%;
    overflow: hidden;
    
}

.cardheaderunit {
    margin-left: 100px;

}

.cardheaderprocent {
    margin-left: 66px;
}

.cardheaderguide {
    margin-left: 160px;

}

.cardheadernvt {
    margin-left: 180px;

}
